{% extends "base.html" %}
{% load static %}


{% block extra_styles %}
<style>
    @import url(http://fonts.googleapis.com/css?family=Oldenburg);
    body {    
        vertical-align: middle;
        cursor: default;
    }
    #overlay {
        position: relative;
        z-index: 5;
    }
    .char {
        font-family: Oldenburg;
        -webkit-transition: all .1s;
        display: block;
        padding: 0;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .char.player {        
        -webkit-transition: none;
    }
    .char.sword {        
        -webkit-transition: matrix3d .1s;
    }
    #cursor {
        position: fixed;
        bottom: 0;
        left: 0;
    }
</style>
{% endblock extra_styles %}


{% block extra_scripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/three.js/r61/three.min.js"></script>
<script src="/media/lib/CSS3DRenderer.js"></script>
<script src="/media/lib/TrackballControls.js"></script>
<script src="/media/js/game.js"></script>
<script src="/media/js/screen.js"></script>
<script src="/media/js/sprite.js"></script>
<script src="/media/js/controls.js"></script>
{% endblock extra_scripts %}


{% block content %}
<div id="overlay">
	<input type="text" id="testo" />
	<input type="button" value="Send"  class="btn btn-default" onClick="send();" />
</div>
<div id="cursor"></div>
{% endblock content %}
